h1{
    color: black;
    text-shadow: 3px 3px white;
    font-family: Bodoni Bk BT;
    text-align: center;
    font-size: 70px;
}

p{
    color: black;
    text-shadow: 3px 3px white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
}

img{
    margin: 3px;
}

body{
    background-color: bisque;
}